.background {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 13px solid #3a4965;
    font-family: Arimo, sans-serif;
}

.border-item {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 16px;
    color: #484848;
}

.top-td-1 {
    width: 310px;
    height: 156px;
}

.top-td {
    width: 277px;
    height: 70px;
}


.left-td {
    width: 310px;
    height: 69px;
}

.first-color-bgc {
    background-color: #f2f2f2;
}

.second-color-bgc {
    background-color: #e3e3e3;
}

.text-td-top-1-choose {
    font-size: 18px;
}

.text-td-top-1-plan {
    font-size: 30px;
    font-weight: bold;
}

.standard-td {
    background-color: #89c331;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.ultimate-td {
    background-color: #f04a56;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.premium-td {
    background-color: #20807c;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.dollars {
    font-size: 60px;
    font-weight: bold;
    position: relative;
}

.cents {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
}

.text-per-month {
    font-size: 18px;
    position: relative;
    bottom: 10px;
}

.bg-item {
    width: 192px;
    height: 49px;
    background-color: #484848;
    font-size: 16px;
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    border: 1px;
    border-radius: 5px;
    padding: 17px 0;
    box-sizing: border-box;
}

.buy-now-item1 {
    width: 192px;
    height: 49px;
    background-color: #89c331;
    font-size: 16px;
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    border: 1px;
    border-radius: 5px;
    padding: 17px 0;
    box-sizing: border-box;
}

.buy-now-item2 {
    width: 192px;
    height: 49px;
    background-color: #f04a56;
    font-size: 16px;
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    border: 1px;
    border-radius: 5px;
    padding: 17px 0;
    box-sizing: border-box;
}

.buy-now-item3 {
    width: 192px;
    height: 49px;
    background-color: #20807c;
    font-size: 16px;
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    border: 1px;
    border-radius: 5px;
    padding: 17px 0;
    box-sizing: border-box;
}

.link-item {
    text-decoration: none;
}

.link-hover:hover {
    box-shadow: 3px 4px 9px 0 rgba(16, 16, 16, 0.9);

}

.icons {
    color: #848484;
    padding-right: 12px;
    width: 23px;
    height: 21px;
}